## Day 76 Lecture 2 Assignment

In this assignment, we will learn about Dask dataframes. We will use the census dataset loaded below and perform some exploratory data analysis.

In [0]:
import dask.dataframe as dd
import numpy as np

In [0]:
census = dd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Data%20Sets%20Big%20Data/acs2015_census_tract_data.csv')

In [0]:
census.head()

   CensusTract    State   County  ...  SelfEmployed  FamilyWork  Unemployment
0   1001020100  Alabama  Autauga  ...           4.6         0.0           5.4
1   1001020200  Alabama  Autauga  ...           6.1         0.0          13.3
2   1001020300  Alabama  Autauga  ...          12.3         0.0           6.2
3   1001020400  Alabama  Autauga  ...           3.1         0.0          10.8
4   1001020500  Alabama  Autauga  ...           5.3         0.0           4.2

[5 rows x 37 columns]

The dataset described above contains the aggregated data for each county in the United States. For example, the number in the Carpool column describes the percent of people in the county who carpool to work.

Print all the column names in the dataset and describe the data in each column

In [0]:
#Answer below:
census.columns

Index(['CensusTract', 'State', 'County', 'TotalPop', 'Men', 'Women',
       'Hispanic', 'White', 'Black', 'Native', 'Asian', 'Pacific', 'Citizen',
       'Income', 'IncomeErr', 'IncomePerCap', 'IncomePerCapErr', 'Poverty',
       'ChildPoverty', 'Professional', 'Service', 'Office', 'Construction',
       'Production', 'Drive', 'Carpool', 'Transit', 'Walk', 'OtherTransp',
       'WorkAtHome', 'MeanCommute', 'Employed', 'PrivateWork', 'PublicWork',
       'SelfEmployed', 'FamilyWork', 'Unemployment'],
      dtype='object')

In [0]:
census.dtypes

CensusTract          int64
State               object
County              object
TotalPop             int64
Men                  int64
Women                int64
Hispanic           float64
White              float64
Black              float64
Native             float64
Asian              float64
Pacific            float64
Citizen              int64
Income             float64
IncomeErr          float64
IncomePerCap       float64
IncomePerCapErr    float64
Poverty            float64
ChildPoverty       float64
Professional       float64
Service            float64
Office             float64
Construction       float64
Production         float64
Drive              float64
Carpool            float64
Transit            float64
Walk               float64
OtherTransp        float64
WorkAtHome         float64
MeanCommute        float64
Employed             int64
PrivateWork        float64
PublicWork         float64
SelfEmployed       float64
FamilyWork         float64
Unemployment       float64
dtype: object

In [0]:
census.describe().compute()

        CensusTract      TotalPop  ...    FamilyWork  Unemployment
count  7.400100e+04  74001.000000  ...  73194.000000  73199.000000
mean   2.839113e+10   4325.591465  ...      0.169772      9.028663
std    1.647593e+10   2129.306903  ...      0.458227      5.955441
min    1.001020e+09      0.000000  ...      0.000000      0.000000
25%    1.303901e+10   2891.000000  ...      0.000000      5.100000
50%    2.804700e+10   4063.000000  ...      0.000000      7.700000
75%    4.200341e+10   5442.000000  ...      0.000000     11.400000
max    7.215375e+10  53812.000000  ...     26.500000    100.000000

[8 rows x 35 columns]

In [0]:
census.head(5)

   CensusTract    State   County  ...  SelfEmployed  FamilyWork  Unemployment
0   1001020100  Alabama  Autauga  ...           4.6         0.0           5.4
1   1001020200  Alabama  Autauga  ...           6.1         0.0          13.3
2   1001020300  Alabama  Autauga  ...          12.3         0.0           6.2
3   1001020400  Alabama  Autauga  ...           3.1         0.0          10.8
4   1001020500  Alabama  Autauga  ...           5.3         0.0           4.2

[5 rows x 37 columns]

How many counties have a unemployement rate above 10%?

In [0]:
#Answer below:

census[census['Unemployment']>10].count().compute()

CensusTract        23530
State              23530
County             23530
TotalPop           23530
Men                23530
Women              23530
Hispanic           23530
White              23530
Black              23530
Native             23530
Asian              23530
Pacific            23530
Citizen            23530
Income             23408
IncomeErr          23408
IncomePerCap       23524
IncomePerCapErr    23524
Poverty            23503
ChildPoverty       23390
Professional       23525
Service            23525
Office             23525
Construction       23525
Production         23525
Drive              23525
Carpool            23525
Transit            23525
Walk               23525
OtherTransp        23525
WorkAtHome         23525
MeanCommute        23485
Employed           23530
PrivateWork        23525
PublicWork         23525
SelfEmployed       23525
FamilyWork         23525
Unemployment       23530
dtype: int64

In [0]:
len(census[census['Unemployment']>10])

23530

Print the number of counties in each state.

In [0]:
# Answer below:
census.groupby('State')['County'].count().compute()

State
Alabama                 1181
Alaska                   167
Arizona                 1526
Arkansas                 686
California              8057
Colorado                1249
Connecticut              833
Delaware                 218
District of Columbia     179
Florida                 4245
Georgia                 1969
Hawaii                   351
Idaho                    298
Illinois                3123
Indiana                 1511
Iowa                     825
Kansas                   770
Kentucky                1115
Louisiana               1148
Maine                    358
Maryland                1406
Massachusetts           1478
Michigan                2813
Minnesota               1338
Mississippi              664
Missouri                1393
Montana                  271
Nebraska                 532
Nevada                   687
New Hampshire            295
New Jersey              2010
New Mexico               499
New York                4918
North Carolina          2195
North Dakota             205
Ohio                    2952
Oklahoma                1046
Oregon                   834
Pennsylvania            3218
Puerto Rico              945
Rhode Island             244
South Carolina          1103
South Dakota             222
Tennessee               1497
Texas                   5265
Utah                     588
Vermont                  184
Virginia                1907
Washington              1458
West Virginia            484
Wisconsin               1409
Wyoming                  132
Name: County, dtype: int64

In [0]:
# Answer below:
census.groupby('State')['County'].nunique().compute()

State
Alabama                  67
Alaska                   29
Arizona                  15
Arkansas                 75
California               58
Colorado                 64
Connecticut               8
Delaware                  3
District of Columbia      1
Florida                  67
Georgia                 159
Hawaii                    5
Idaho                    44
Illinois                102
Indiana                  92
Iowa                     99
Kansas                  105
Kentucky                120
Louisiana                64
Maine                    16
Maryland                 24
Massachusetts            14
Michigan                 83
Minnesota                87
Mississippi              82
Missouri                115
Montana                  56
Nebraska                 93
Nevada                   17
New Hampshire            10
New Jersey               21
New Mexico               33
New York                 62
North Carolina          100
North Dakota             53
Ohio                     88
Oklahoma                 77
Oregon                   36
Pennsylvania             67
Puerto Rico              78
Rhode Island              5
South Carolina           46
South Dakota             66
Tennessee                95
Texas                   254
Utah                     29
Vermont                  14
Virginia                133
Washington               39
West Virginia            55
Wisconsin                72
Wyoming                  23
Name: County, dtype: int64

In [0]:
census['County'].value_counts().compute()

Los Angeles     2346
Cook            1326
Orange           939
Jefferson        927
Maricopa         916
                ...
Ouray              1
Judith Basin       1
Towner             1
Osborne            1
Ziebach            1
Name: County, Length: 1928, dtype: int64

In [0]:
state_county.head(40)

State
Alabama                 1181
Alaska                   167
Arizona                 1526
Arkansas                 686
California              8057
Colorado                1249
Connecticut              833
Delaware                 218
District of Columbia     179
Florida                 4245
Georgia                 1969
Hawaii                   351
Idaho                    298
Illinois                3123
Indiana                 1511
Iowa                     825
Kansas                   770
Kentucky                1115
Louisiana               1148
Maine                    358
Maryland                1406
Massachusetts           1478
Michigan                2813
Minnesota               1338
Mississippi              664
Missouri                1393
Montana                  271
Nebraska                 532
Nevada                   687
New Hampshire            295
New Jersey              2010
New Mexico               499
New York                4918
North Carolina          2195
North Dakota             205
Ohio                    2952
Oklahoma                1046
Oregon                   834
Pennsylvania            3218
Puerto Rico              945
Name: County, dtype: int64

Add a high child poverty boolean column. This column will be 1 if the rate of child poverty is over %20 and 0 otherwise.

In [0]:
# Answer below:
census['High_child_poverty'] = (census['ChildPoverty'] > 20).astype(int)

In [0]:
census.head()

   CensusTract    State  ... high child poverty  High_child_poverty
0   1001020100  Alabama  ...                  0                   0
1   1001020200  Alabama  ...                  1                   1
2   1001020300  Alabama  ...                  0                   0
3   1001020400  Alabama  ...                  0                   0
4   1001020500  Alabama  ...                  0                   0

[5 rows x 39 columns]

What are the top 10 most populated counties?

In [0]:
#answer below:

census.set_index('County').TotalPop.nlargest(10).compute()

County
Fort Bend     53812
San Diego     39454
Sumter        38169
Fort Bend     38137
Sarasota      35527
Brazoria      33655
Montgomery    31493
Orange        30258
Cass          30256
El Paso       29238
Name: TotalPop, dtype: int64

In [0]:
census[census['County'] == 'Queens'].compute()

       CensusTract     State  ... high child poverty  High_child_poverty
46328  36081000100  New York  ...                  0                   0
46329  36081000200  New York  ...                  0                   0
46330  36081000400  New York  ...                  0                   0
46331  36081000600  New York  ...                  0                   0
46332  36081000700  New York  ...                  0                   0
...            ...       ...  ...                ...                 ...
46992  36081157902  New York  ...                  0                   0
46993  36081157903  New York  ...                  0                   0
46994  36081161700  New York  ...                  0                   0
46995  36081162100  New York  ...                  0                   0
46996  36081990100  New York  ...                  0                   0

[669 rows x 39 columns]

What is the current number of partitions?

In [0]:
#Answer below:
census.npartitions

1