<a href="https://colab.research.google.com/github/andheartsjaz/Public/blob/master/K_nearest_neighbor_regression_Day_32_Lecture_1_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Day 32 Lecture 1 Assignment

In this assignment, we will learn about K nearest neighbor regression. We will use the absenteeism at work dataset loaded below and analyze the model generated for this dataset.

In [0]:
%matplotlib inline

import math

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [0]:
absent = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Absenteeism_at_work.csv', sep=';')

In [3]:
absent.head()

   ID  Reason for absence  ...  Body mass index  Absenteeism time in hours
0  11                  26  ...               30                          4
1  36                   0  ...               31                          0
2   3                  23  ...               31                          2
3   7                   7  ...               24                          4
4  11                  23  ...               30                          2

[5 rows x 21 columns]

Find which variables have the highest pairwise correlation and remove them from our dataset. Additionally, try to think of which variables are correlated by looking at the column names and remove those columns as well.

Note: When choosing between two categeoricla variables that are correlated, keep the one with fewer values.

In [23]:
# answer below:
absent.corr().mean().sort_values(ascending=False) 
# sns.heatmap(absent.corr(), vmin=-1, vmax=1)

threshold = 0.75

for column in absent.columns:
  correlated = absent.corrwith(absent[column])
  correlated = correlated[abs(correlated) > threshold]
  if len(correlated) > 1:
    print("------------------")
    print("ColumnL {}".format(column))
    print(correlated)

------------------
ColumnL Weight
Weight             1.000000
Body mass index    0.904117
dtype: float64
------------------
ColumnL Body mass index
Weight             0.904117
Body mass index    1.000000
dtype: float64

17

In [0]:
absent.Weight.shape #740
absent['Body mass index'].nunique() #17
absent['Weight'].nunique() #26

absent.drop(columns='Weight', inplace=True)

Find out which columns contain categorical variables and turn those into dummy variables.

In [38]:
# answer below:
cat_cols = ['Reason for absence', 'Month of absence', 'Day of the week', 'Seasons', 'Education']
dummy_df = pd.get_dummies(absent, columns=cat_cols, drop_first=True, dtype=int)
dummy_df.head()

   ID  Transportation expense  ...  Education_3  Education_4
0  11                     289  ...            0            0
1  36                     118  ...            0            0
2   3                     179  ...            0            0
3   7                     279  ...            0            0
4  11                     289  ...            0            0

[5 rows x 64 columns]

In [0]:
Split the data into train and test with test containing 20% of the data.

In [0]:
# answer below:
from sklearn.model_selection import train_test_split

X = dummy_df.drop(columns=['Absenteeism time in hours'])
y = dummy_df['Absenteeism time in hours']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler() # only perform on training data
scaler.fit(X_train) # never use .fit() method on test
X_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

Train a KNN regression model using k=15 and compute the MSE for the test subsample.

In [56]:
# answer below
from sklearn import neighbors

knn = neighbors.KNeighborsRegressor(n_neighbors=15)
knn.fit(X_scaled, y_train)
knn.score(X_test_scaled, y_test)

from sklearn.metrics import mean_squared_error 

y_pred = knn.predict(X_test_scaled)
mean_squared_error(y_pred, y_test) # MSE 114.139

# using scaled data, we produce a MSE of 89.39, which compared to the unscaled data's MSE of 114.139, the scaled data produces better results

89.39630630630631